{{#is step 'instructions'}}
  <form method="POST">
    <h4 class="display-4 text-center">Welcome!</h4>
    <p style="margin-bottom: .5rem;">You've already started your journey! This setup utility will walk you through installing Cellar.</p>
    <p style="margin-bottom: 1rem;">Before continuing make sure you've installed and started a MongoDB
      instance. Also, have your SMTP creditials ready from the mail provider of your choice.</p>
    {{#if messages.error}}
      <div role="alert" class="alert alert-danger">
        {{#each messages.error}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    {{#if messages.success}}
      <div role="alert" class="alert alert-success">
        {{#each messages.success}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    <button type="submit" style="width: 100%" class="btn btn-lg btn-outline-primary">Continue</button>
  </form>
{{/is}}
{{#is step 'title'}}
  <form method="POST">
    <h4 class="display-4 text-center">Title</h4>
    <h6>First up, give your website a cool title.</h6>
    <div class="form-group">
      <label for="title">Website Title</label>
      <input type="text" name="title" id="title" placeholder="Cool Title" class="form-control" autofocus>
    </div>
    {{#if messages.error}}
      <div role="alert" class="alert alert-danger">
        {{#each messages.error}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    {{#if messages.success}}
      <div role="alert" class="alert alert-success">
        {{#each messages.success}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    <button type="submit" style="width: 100%" class="btn btn-lg btn-outline-primary">Continue</button>
  </form>
{{/is}}
{{#is step 'database'}}
  <form method="POST">
    <h4 class="display-4 text-center">Database</h4>
    <h6>Next up, enter your MongoDB URL.</h6>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="database" id="database" placeholder="mongodb://user:pass@localhost:27017" class="form-control" autofocus>
    </div>
    {{#if messages.error}}
      <div role="alert" class="alert alert-danger">
        {{#each messages.error}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    {{#if messages.success}}
      <div role="alert" class="alert alert-success">
        {{#each messages.success}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    <button type="submit" style="width: 100%" class="btn btn-lg btn-outline-primary">Continue</button>
  </form>
{{/is}}
{{#is step 'mail'}}
  <form method="POST">
    <h4 class="display-4 text-center">Mail</h4>
    <h6>Now, enter your SMTP details.</h6>
    <div class="form-group">
      <label for="smtphost">Host</label>
      <input type="text" name="smtphost" id="smtphost" placeholder="localhost" class="form-control" autofocus>
    </div>
    <div class="form-group">
      <label for="smtpport">Port</label>
      <input type="number" name="smtpport" id="smtpport" placeholder="465" class="form-control">
    </div>
    <label class="custom-control custom-checkbox">
      <input type="checkbox" name="smtptls" id="smtptls" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Use TLS</span>
    </label>
    <div class="form-group">
      <label for="smtpusername">Username</label>
      <input type="email" name="smtpusername" id="smtpusername" placeholder="Username" class="form-control">
    </div>
    <div class="form-group">
      <label for="smtppassword">Password</label>
      <input type="password" name="smtppassword" id="smtppassword" placeholder="Password" class="form-control">
    </div>
    {{#if messages.error}}
      <div role="alert" class="alert alert-danger">
        {{#each messages.error}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    {{#if messages.success}}
      <div role="alert" class="alert alert-success">
        {{#each messages.success}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    <button type="submit" style="width: 100%" class="btn btn-lg btn-outline-primary">Continue</button>
  </form>
{{/is}}
{{#is step 'auth'}}
  <form method="POST">
    <h4 class="display-4 text-center">Authentication</h4>
    <h6>Finally, enter the authentication details for your first Admin account.</h6>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="Username" class="form-control" autofocus>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="Email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Password" class="form-control">
    </div>
    {{#if messages.error}}
      <div role="alert" class="alert alert-danger">
        {{#each messages.error}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    {{#if messages.success}}
      <div role="alert" class="alert alert-success">
        {{#each messages.success}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    <button type="submit" style="width: 100%" class="btn btn-lg btn-outline-primary">Continue</button>
  </form>
{{/is}}
{{#is step 'final'}}
  <form method="POST">
    <h4 class="display-4 text-center">Final Step</h4>
    <p style="margin-bottom: .5rem;">Alright, all that's left is to save your values.</p>
    <p style="margin-bottom: 1rem; display: inline-block;">Just click continue, and we'll automatically write to the
      <span style='font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; font-size: 90%; color: #292b2c;'>.env</span> file.</p>
    {{#if messages.error}}
      <div role="alert" class="alert alert-danger">
        {{#each messages.error}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    {{#if messages.success}}
      <div role="alert" class="alert alert-success">
        {{#each messages.success}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    <button type="submit" style="width: 100%" class="btn btn-lg btn-outline-primary">Continue</button>
  </form>
{{/is}}
{{#is step 'done'}}
  <form method="POST">
    <h4 class="display-4 text-center">Done!</h4>
    <p style="margin-bottom: .5rem;">We're done here. 😎</p>
    <p style="margin-bottom: 1rem;">Please click continue and then return to the terminal for some additional instructions.</p>
    {{#if messages.error}}
      <div role="alert" class="alert alert-danger">
        {{#each messages.error}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    {{#if messages.success}}
      <div role="alert" class="alert alert-success">
        {{#each messages.success}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    <button type="submit" style="width: 100%" class="btn btn-lg btn-outline-primary">Continue</button>
  </form>
{{/is}}
